<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace
    -->
<mapper namespace="com.mybatis.mapper.UserMapper">
    <!--id: sql qurey id
        resulttype: type of the returning data - directory of the User class
        -->
    <!--sql statement-->
    <select id="selectAll" resultType="com.mybatis.pojo.User">
        select * from tb_user;
    </select>

    <select id="selectByUsername" resultType="com.mybatis.pojo.User">
        select * from tb_user where id = #{id};
    </select>
</mapper>